    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：文章管理>文章列表
        </div>
        <div class="pannel">
            <span class="sel_label">请选择文章分类：</span>
            <form method="get" action="/article/articleList" id="selectform">
                <select name="select" id="select" class="sel_opt">
                    {{range .articletypes}}
                        {{if compare .TypeName $.TName}}
                            <option selected="true">{{.TypeName}}</option>
                        {{else}}
                            <option>{{.TypeName}}</option>
                        {{end}}
                    {{end}}
                </select>
            </form>
            <table class="common_table">
                <tr>
                    <th width="43%">文章标题</th>
                    <th width="10%">文章内容</th>
                    <th width="16%">添加时间</th>
                    <th width="7%">阅读量</th>
                    <th width="7%">删除</th>
                    <th width="7%">编辑</th>
                    <th width="10%">文章类型</th>
                </tr>

                {{range $index,$article := .articles}}
                <tr>
                    <td>{{$article.Title}}</td>
                    <td><a href="/article/articleDetial?id={{$article.Id}}">查看详情</a></td>
                    <td> {{$article.Time.Format "2006-01-02 15:04:05"}}</td>
                    <td>{{$article.ReadCount}}</td>
                    <td><a href="/article/articleDelete?id={{$article.Id}}&select={{$.TName}}" class="dels">删除</a></td>
                    <td><a href="/article/articleUpdate?id={{$article.Id}}&select={{$.TName}}">编辑</a></td>
                    <td>{{$article.ArticleType.TypeName}}</td>
                </tr>
                {{end}}
            </table>

            <ul class="pagenation">
                <li><a href="/article/articleList?pageIndex=1&select={{.TName}}">首页</a></li>
                <li><a href="/article/articleList?pageIndex={{prePage .pageIndex}}&select={{.TName}}">上一页 </a> </li>
                <li> <a href="/article/articleList?pageIndex={{nextPage .pageIndex .pageCount}}&select={{.TName}}">下一页</a></li>
                <li><a href="/article/articleList?pageIndex={{.pageCount}}&select={{.TName}}">末页</a></li>
                <li>共{{.Count}}条记录/共{{.pageCount}}页/当前{{.pageIndex}}页</li>
            </ul>
        </div>
    </div>
    <script>
        $(function () {
            $(".dels").click(function () {
                if(!confirm("是否确认删除？")){
                    return false
                }
            })

            $("#select").change(function () {
                $("#selectform").submit()
            })
        })
    </script>
